@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Edu+QLD+Hand:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@keyframes text-move {
    0%{
    margin-top: 0;
    }
    25%{
        margin-top: -70px;
    }
    50%{
        margin-top: -140px;
    }
    75%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'poppins', sans-serif;
    background-color: #000;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px 20px 130px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2 );
}

header.sticky{
    background: #3a6cf4;
    padding: 20px 100px 15px 130px;
}
header a{
    text-decoration: none;
    color: white;
}
header > a{
    font-size: 28px;
    transition: all ease 0.4s;
}
header > a:hover{
    scale: 0.9;
}
header .nav{
    display: flex;
    gap: 60px;
    align-items: center;
}
header .nav a {
    position: relative;
    font-size: 18px;
}
header .nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    border-bottom: 3px solid #fff;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}
header .nav a:hover:before {
    transform: scale(1);
}
.main{
    padding: 150px 200px 0 200px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}
.content{
    max-width: 800px;
    /* background-color: red; */
}
.content h2:nth-child(1){
    font-size: 2em;
    font-weight: 500;
    margin-left: 13px;
}
.content h2:nth-child(2){
    font-size: 5em;
    font-weight: 500;
}
.animated-text{
    position: relative;
    height: 70px;
    overflow: hidden;
    margin-top: 10px;
}
.animated-text h3{
    color: #4e9eff;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
}
.animated-text h3:nth-child(1){
    animation: text-move 6s infinite;
}
.content button{
    padding: 10px 30px;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.content button i{
    margin-left: 10px;
    display: inline-block;
    transition: all 0.4s ease;
}
.content button:hover i{
    transform: rotate(45deg);
}
.content button:hover{
    background-color: #fff;
    color: #000;
}
.media-icons{
    margin-top: 50px;
    display: flex;
    gap: 60px;
}
.media-icons a{
    text-decoration: none;
    color: #fff;
}
.media-icons a i{
    font-size: 23px;
    transition: all 0.4s ease;
}
.media-icons a i:hover{
    color: rgba(255, 115, 0, 0.795);
}

.about{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #010117;
}
.about > h2{
    font-size: 3em;
    font-size: 400;
    text-align: center;
    position: relative;
    color: #3a6cf4;
}
.about > h2::before{
    content: '';
    position: absolute;
    top: 68px;
    left: 50%;
    width: 180px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.about > h2::after{
    content: '';
    position: absolute;
    top: 62px;
    left: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.acontent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 150px 10px 250px;
    gap: 70px;
    /* background-color: red; */
}
.acontent .col-left img{
    width: 320px;
    height: 480px;
    object-fit: cover;
    border-radius: 10px;
}
.acontent .col-right{
    width: 60%;
}
.acontent .col-right h2{
    font-size: 2.3em;
    font-size: 400;
}
.acontent .col-right p{
    margin-top: 10px;
    width: 85%;
    font-size: 17px;
}
.btn{
    padding: 10px 20px;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btn:hover{
    background-color: #fff;
    color: #000;
}
.btn i{
    margin-left: 10px;
    display: inline-block;
    transition: all 0.4s ease;
}
.btn:hover i{
    transform: rotate(45deg);
}
.skills{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 20px;
}
.skills > h2{
    font-size: 3em;
    text-align: center;
    position: relative;
    color: #3a6cf4;
}
.skills > h2::before{
    content: '';
    position: absolute;
    top: 70px;
    left: 50%;
    width: 170px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.skills > h2::after{
    content: '';
    position: absolute;
    top: 63px;
    left: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.skills .scontent{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 50px 0 20px 200px;
}
.scontent .sleft{
    width: 44%;
}
.scontent .sleft > h2{
   font-size: 2.3em; 
   font-weight: 600;
}
.sleft p{
    margin-top: 20px;
    font-size: 17px;
}
.sleft button{
    margin-top: 25px;
}
.scontent .sright{
    width: 43%;
}
.scontent .sright .bar{
    margin-bottom: 20px;
    padding: 10px;
}
.scontent .sright .bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scontent .sright .bar .info span{
    font-size: 18px;
    font-weight: 500;
}
.scontent .sright .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #fff;
}
.scontent .sright .bar .line::before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: -3px;
    border-radius: 2px;
}
.scontent .sright .bar .html::before{
    width: 95%;
    background-color: #e45126;
}
.scontent .sright .bar .css::before{
    width: 85%;
    background-color: #006DC0;
}
.scontent .sright .bar .javascript::before{
    width: 80%;
    background-color: #F6A415;
}
.scontent .sright .bar .react::before{
    width: 40%;
    background-color: #18CF6E;
}
.scontent .sright .bar .php::before{
    width: 75%;
    background-color: #637DBC;
}
.services{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 20px;
    background-color: #010117;
}
.services > h2{
    font-size: 3em;
    text-align: center;
    position: relative;
    color: #3a6cf4;
}
.services > h2::before{
    content: '';
    position: absolute;
    top: 70px;
    left: 50%;
    width: 240px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.services > h2::after{
    content: '';
    position: absolute;
    top: 63px;
    left: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.services > p{
    font-size: 17px;
    padding: 40px 300px 0 300px;
    text-align: center;
}
.service-content{
    padding-top: 40px;
    display: flex;
    padding: 30px 0px 20px 100px;
    gap: 10px;
}
.service-content .service1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 380px;
    padding: 10px;
}
.service-content .service1 h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}
.service-content .service1 h4{
    margin-top: 10px;
    text-align: center;
    font-size: 14.5px;
    font-weight: 400;
}
.service-content .service1 video{
    border-radius: 5px;
    width: 340px;
    height: 200px;
    object-fit: cover;
}
.service-content .service2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: fit-content;
    padding: 10px 0;
}
.service-content .service2 h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}
.service-content .service2 h4{
    margin-top: 10px;
    font-size: 14.5px;
    text-align: center;
    font-weight: 400;
}
.service-content .service2 video{
    border-radius: 5px;
    width: 330px;
    height: 200px;
    object-fit: cover;
}
.service-content .service3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 380px;
    padding: 10px;
}
.service-content .service3 h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}
.service-content .service3 h4{
    margin-top: 10px;
    text-align: center;
    font-size: 14.5px;
    font-weight: 400;
}
.service-content .service3 video{
    border-radius: 5px;
    width: 340px;
    height: 200px;
    background-color: #006DC0;
    object-fit: cover;
}
.work{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding-top: 80px;
}
.work > h2{
    font-size: 3em;
    text-align: center;
    position: relative;
    color: #3a6cf4;
}
.work > h2::before{
    content: '';
    position: absolute;
    top: 70px;
    left: 50%;
    width: 170px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.work > h2::after{
    content: '';
    position: absolute;
    top: 63px;
    left: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.wcontent{
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    gap: 30px;
    padding: 40px 0 50px 140px;
}
.wcontent .images{
    width: 330px;
    height: 220px;
    border-radius: 10px;
    overflow: hidden; 
}
.wcontent .images:hover img{
    scale: 1.1;
}
.wcontent img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1;
    transition: scale 0.3s ease;
    cursor: pointer;
}
.wcontent .row1{
    display: flex;
    gap: 30px;
}
.wcontent .row2{
    display: flex;
    gap: 30px;
}
.contact{
    width: 100%;
    min-height: 100vh;
    background-color: #010117;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 30px;
}
.contact > h2{
    font-size: 3em;
    text-align: center;
    position: relative;
    color: #3a6cf4;
}
.contact > h2::before{
    content: '';
    position: absolute;
    top: 70px;
    left: 50%;
    width: 220px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.contact > h2::after{
    content: '';
    position: absolute;
    top: 63px;
    left: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.contact .contact-content{
    display: flex;
    padding: 150px 0 40px 50px;
    gap: 30px;
}
.contact-content i{
    font-size: 4em;
    color: #3a6cf4;
    transition: all 0.4s ease;
    display: inline-block;
}
.contact-content .card{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.contact-content .card:hover i{
    transform: translateY(-15px);
}
.contact-content .card:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    /* background: #0b0b2a4b; */
     background: #0b0b2a1e;
}
.contact-content h3{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
.contact-content h4{
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
}
.contact-content a{
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}
.contact-content .phone i{
    transform: rotate(270deg);
    transition: all 0.4s ease;
}
.contact-content .phone:hover i{
    transform: rotate(270deg) translateX(15px);
}
.contact-form{
    width: 100%;
    height: 100vh;
    padding-top: 60px;
}
.contact-form > h2{
    font-size: 3em;
    text-align: center;
    position: relative;
    color: #3a6cf4;
}
.contact-form > h2::before{
    content: '';
    position: absolute;
    top: 70px;
    left: 50%;
    width: 220px;
    height: 4px;
    background: #3a6cf4;
    transform: translateX(-50%);
}
.contact-form > h2::after{
    content: '';
    position: absolute;
    top: 63px;
    left: 50%;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #3a6cf4;
    transform: translateX(-50%);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
}
form input{
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 18px;
    outline: none;
    border: 3px solid #555;
    background-color: transparent;
    color: #fff;
    padding-left: 10px;
}
form input::placeholder{
    color: #888;
}
form textarea{
    max-width: 50%;
    min-width: 50%;
    height: 250px;
    max-height: 250px;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    color: #fff;
    padding-left: 10px;
    border-radius: 5px;
}
form textarea::placeholder{
    color: #888;
}
form button{
    width: 50%;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 17px;
    cursor: pointer;
    background-color: #006DC0;
    color: #fff;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease;
}
form button:hover{
    background-color: #0075ceb2;
}
.footer{
    width: 100%;
    color: #fff;
    padding: 20px;
    background-color: #02021a79;
    /* background-color: #01010C; */
}
.footer h2{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.footer p{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
@media (max-width: 1040px) {
    header{
        padding: 13px 20px;
    }
    header.sticky{
        padding: 13px 20px;
    }
    .acontent{
        padding: 30px 50px;
    }
    .acontent .col-right h2 {
        font-size: 2em;
    }
    .acontent .col-right p {
        margin-top: 10px;
        font-size: 16px;
    }
    .skills .scontent {
        padding: 30px 0 20px 100px;
    }
    .scontent .sleft {
        width: 46%;
    }
    .scontent .sleft > h2 {
        font-size: 2em;
        font-weight: 600;
    }   
    .sleft p {
        margin-top: 20px;
        font-size: 15.5px;
    }
    .service-content {
        padding: 20px 0;
    }
    .services > p {
        font-size: 15.5px;
        padding: 40px 100px 0 100px;
    }
    .service-content .service1 video {
        border-radius: 5px;
        width: 240px;
        height: 180px;
        object-fit: cover;
    }
    .service-content .service2 video {
        border-radius: 5px;
        width: 240px;
        height: 180px;
        object-fit: cover;
    }
    .service-content .service3 video {
        border-radius: 5px;
        width: 240px;
        height: 180px;
        object-fit: cover;
    }
    .wcontent {
        padding: 40px 20px;
        gap: 15px;
    }
    .wcontent .row1 {
        gap: 15px;
    }   
    .wcontent .row2 {
        gap: 15px;
    }
    .contact .contact-content {
        padding: 150px 10px 40px 10px;
        gap: 15px;
    }
    .contact-content .card {
        width: 260px;
        height: 250px;
    }
    .contact-content h4 {
        font-size: 14px;
    }
    .contact-content a {
        font-size: 14px;
    }   
}

@media (max-width: 960px) {
    header{
        padding: 13px 55px;
    }
    header .nav.active{
        z-index: 888;
        position: fixed;
        background: #fff;
        top: 0;
        right: 0;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        transition: all 0.4s ease;
    }
     .menu-btn{
        background: url(portfolio1-images/menu.png)no-repeat;
        background-size: cover;
        background-position: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-top: 10px;
        /* transition: all 0.1s ease; */
    }
    .menu-btn.active{
        z-index: 999;
        background: url(portfolio1-images/close.png)no-repeat;
        background-size: cover;
        background-position: center;
        width: 30px;
        height: 30px;
        /* margin-top: 20px; */
        /* transition: all 0.1s ease; */
        filter: invert(1);
    }
    #closebtn{
        display: none;
        cursor: pointer;
        font-size: 30px;
        margin-top: 5px;
        color: #fff;
        transition: all 0.5s ease;
        z-index: 9999;
    }
    #closebtn.active{
        display: block;
        filter: invert(1);
    }
    header .nav{
        display: none;
        gap: 40px;
        transition: all 0.7s ease;
    }
    header.sticky {
        padding: 13px 55px;
    }
    header .nav a{
        color: #000;
        font-size: 1.2em;
        padding: 5px 30px;
        border-radius: 50px;
    }
    header .nav a:hover{
        background: #3a6cf4;
        color: #fff;
        transition: 0.3s ease;
    }
    header .nav a::before{
        width: 0%;
    }
     .acontent {
        padding: 50px 30px ;
    }
     .acontent .col-right h2 {
        font-size: 1.6em;
    }
    .acontent .col-right p {
        margin-top: 10px;
        width: 90%;
        font-size: 15px;
    }
    .scontent .sleft > h2 {
        font-size: 1.7em;
        font-weight: 600;
    }
    .contact-content h4 {
        font-size: 12.5px;
    }
    .contact-content a {
        font-size: 12.5px;
    }   
}
@media (max-width: 800px) {
    .main {
        padding: 150px 100px 0 100px;
    }
    .acontent {
        padding: 50px 0 0 30px;
    }
    .acontent .col-left img {
        width: 260px;
        height: 440px;
    }
    .acontent .col-right h2 {
        font-size: 1.3em;
    }
    .about > h2 {
        font-size: 2em;
    }
    .about > h2::before {
        top: 45px;
        left: 50%;
        width: 120px;
    }
    .about > h2::after {
        top: 40px;
        left: 50%;
        width: 15px;
        height: 15px;
    }
    .acontent .col-right p {
        font-size: 14px;
    }
    .skills > h2 {
        font-size: 2em;
    }
    .skills > h2::before {
        top: 45px;
        width: 120px;
        height: 4px;
    }
    .skills > h2::after {
        top: 40px;
        width: 15px;
        height: 15px;
    }
    .scontent .sleft > h2 {
        font-size: 1.4em;
        font-weight: 600;
    }
    .sleft p {
        font-size: 14px;
    }
    .services > p {
        font-size: 15px;
        padding: 30px 50px 0 50px;
    }
    .service-content .service1 video {
        width: 210px;
        height: 180px;
    }
    .service-content .service2 video {
        width: 210px;
        height: 180px;
    }
    .service-content .service3 video {
        width: 210px;
        height: 180px;
    }
    .contact .contact-content {
        padding: 50px;
        gap: 15px;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 700px) {
    .main {
        padding: 100px 50px 0 50px;
    }
    .acontent {
        padding-top: 30px;
    }
    .acontent .col-left img {
        width: 230px;
        height: 400px;
    }
    .btn {
        padding: 10px 20px;
        margin-top: 10px;
        font-size: 15px;
    }
    .skills .scontent {
        padding: 30px 0 20px 20px;
    }
    .scontent .sleft > h2 {
        font-size: 1.2em;
        font-weight: 600;
    }
    .scontent .sright .bar .info span {
        font-size: 15px;
        font-weight: 500;
    }
    .sleft button {
        margin-top: 15px;
    }
    .services > h2 {
        font-size: 2em;
    }
    .services > h2::before {
        top: 45px;
        width: 150px;
        height: 4px;
    }
    .services > h2::after {
        top: 40px;
        width: 15px;
        height: 15px;
    }
    .services > p {
        padding: 30px 30px 0 30px;
    }
    .service-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }
    .work > h2 {
        font-size: 2em;
    }
    .work > h2::before {
        top: 45px;
        width: 110px;
    }
    .work > h2::after {
        top: 40px;
        width: 15px;
        height: 15px;
    }
    .wcontent {
        padding: 50px 0;
        gap: 25px;
    }
    .wcontent .row1 {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .wcontent .row2 {
         flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    .contact > h2 {
        font-size: 2em;
    }
    .contact > h2::before {
        top: 45px;
        width: 150px;
    }
    .contact > h2::after {
        top: 40px;
        width: 15px;
        height: 15px;
    }
    .contact-form > h2 {
        font-size: 2em;
    }
    .contact-form > h2::before {
          top: 50px;
        width: 190px;
    }
    .contact-form > h2::after {
        top: 45px;
        width: 15px;
        height: 15px;
    }
}
@media (max-width: 600px) {
    .content h2:nth-child(2) {
        font-size: 3.5em;
        font-weight: 500;
    }
    .acontent {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .acontent .col-left img {
        width: 300px;
        height: 300px;
    }
    .acontent .col-right {
        width: 100%;
    }
    .acontent .col-right h2 {
        font-size: 2em;
        text-align: center;
    }
    .acontent .col-right p {
        padding-right: 20px;
        width: 100%;
        font-size: 14px;
    }
    .btn {
        margin-top: 20px;
        margin-left: 200px;
    }
    .skills .scontent {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px 0 20px 20px;
    }
    .scontent .sleft {
        width: 100%;
        height: fit-content;
    }
    .scontent .sleft > h2 {
        text-align: center;
        font-size: 1.5em;
        font-weight: 600;
    }
    .sleft button {
        margin-top: 25px;
    }
    .scontent .sright {
        width: 80%;
    }
}
@media (max-width: 530px) {
    .btn {
        margin-left: 150px;
    }
    .scontent .sright {
        width: 100%;
        padding-right: 25px;
    }
}
@media (max-width: 460px) {
    .content h2:nth-child(2) {
        font-size: 3em;
    }
    .animated-text h3 {
        font-size: 2.5em;
    }
    .btn {
        margin-left: 130px;
    }
    .skills .scontent {
        padding: 50px 0;
    }
    .sleft p {
        padding: 0 20px;
        font-size: 14px;
    }
    .scontent .sright {
        padding:0 20px;
    }
}

@media (max-width: 430px) {
    header {
        padding: 13px 20px;
    }
    .main {
        padding: 70px 20px 0 40px;
    }
    .btn {
        margin-left: 100px;
    }
    .sleft button {
        margin-left: 120px;
    }
    .acontent .col-right h2 {
        font-size: 1.5em;
        text-align: center;
    }
    .acontent .col-right p {
        padding:0 20px;
    }
}

.scrolltop-btn{
    z-index: 999;
    position: fixed;
    background: #3a6cf4;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
}
.scrolltop-btn.active{
    right: 10px;
    opacity: 1;
}
.scrolltop-btn i{
    font-size: 35px;
}
