@import url('https://fonts.cdnfonts.com/css/gilroy');
@font-face {
    font-family: mazius;
    src: url(fonts/MAZIUSREVIEW20.09-Italic.otf);
}
@font-face {
    font-family: maziusitalic;
    src: url(fonts/MAZIUSREVIEW20.09-Extraitalic.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: #000;
    color: #fff;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: 'Gilroy', sans-serif;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
}
.topg{
    /* display: none; */
    width: 100%;
    height: 100%;
    background-color: rgb(36, 35, 35);
    color: #fff;
    position: relative;
}
.topg .topheading{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}
.topg .topheading h5{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
.topg h1{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    font-weight: 400;
}
.topg h1 .green{
    font-family: mazius;
    color: #14CE91;
}
.reveal .parent{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.reveal .parent .child{
    display: block;
}
.parent .child span{
    display: inline-block;
}
.greendiv{
    /* display: none; */
    width: 100%;
    position: absolute;
    height: 0px;
    bottom: 0;
    background-color: #14CE91;
}
.tope{
    width: 100%;
    display: none;
    /* height: 100vh; */
    position: absolute;
    height: 0;
    bottom: 0;
    background-color: #ececec;
}
.tope .nav{
    position: fixed;
    width: 100%;
    padding: 20px 7vw;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}
.nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    position: relative;
}
.line{
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #000;
}
#line1{
    left: 0;
    width: 0%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transition-delay: .1s;
}
#line2{
    right: 0;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.nav a:hover #line2{
    width: 0%;
}
.nav a:hover #line1{
    width: 100%;
}
.tope .rows{
    width: 100%;
    padding-top: 15vh;
}
.row{
    width: 100%;
    padding: 0 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row:nth-child(2){
   padding: 0 12vw 0 7vw;
}
.row h1{
    font-size: 10vw;
    font-weight: 400;
}
.row h5{
    text-transform: uppercase;
    margin-bottom: 5px;
}
.row h3{
    font-size: 3vw;
    font-weight: 400;
    cursor: pointer;
}
.row span{
    color: #14CE91;
    font-family: maziusitalic;
}
.imagery{
    margin-top: 20vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw ;
}
.imageleft{
    width: 22%;
    display: flex;
}
.imageleft h1{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
.imageleft span{
    text-transform: capitalize;
    color: #14CE91;
    font-family: maziusitalic;
}
.imageright{
    width: 60%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.imageright .imgcontainer{
    position: absolute;
    width: 30vw;
    height: 40vw;
    filter: grayscale();
    border-radius: 10px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
}
.imageright .imgcontainer:hover{
    filter: grayscale(0);
}
.imageright .imgcontainer:nth-child(1){
    transform: translate(-22%, -8%) rotate(-25deg);
    background-color: #14CE91;
    background-image: url(https://images.unsplash.com/photo-1584291474986-8e980a0a8128?q=80&w=435&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
.imageright .imgcontainer:nth-child(2){
    transform: translate(0%, 0%) rotate(-15deg);
    background-color: blue;
    background-image: url(https://plus.unsplash.com/premium_photo-1675884328009-fc2e5979315b?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
.imageright .imgcontainer:nth-child(3){
    transform: translate(20%, 10%) rotate(-5deg);
    background-color: brown;
    background-image: url(https://images.unsplash.com/photo-1554797589-7241bb691973?q=80&w=436&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
.works{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    width: 100%;
    min-height: 100vh;
    margin-top: 20vw;
    position: relative;
}
.works .wheading{
    width: 100%;
    padding: 2vw 7vw;
    display: flex;
    align-items: baseline;
    gap: 5vw;
}
.wheading h1{
    font-size: 8vw;
    font-weight: 400;
}
.wheading h1 span{
    color: #14CE91;
    font-family: mazius;
}
.wheading h2{
    font-size: 2vw;
    font-weight: 400;
}
.wcontent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw 0;
    gap: 1vw;
}
.wcontent .wtop{
    width: 80%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1vw 3vw;
}
.wcontent .wbottom{
    width: 80%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1vw 3vw;
}
.wcontent .imgcontainer2{
    width: 30vw;
    height: 44vw;
    border-radius: 2vw; 
    overflow: hidden; 
}
.wcontent .imgcontainer3{
    width: 30vw;
    height: 30vw;
    border-radius: 2vw;
    overflow: hidden;    
}
.wcontent .imgcontainer2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
.wcontent .imgcontainer3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
.cursor{
    position: fixed;
    width: 13vw;
    /* height: 10vw; */
    top: 0;
    left: 0;
    z-index: 9999;
}
.cursor>div{
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.cursor .crow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 0;
}
.crow .ccircle{
    width: 1vw;
    height: 1vw;
    border: 1px solid #fff;
    border-radius: 50%;
}
.crow .ctext {
    padding: .2vw .7vw;
    background-color: #fff;
    border-radius: 50px;
}
.crow .ctext h3{
    font-size: 1.1vw;
    font-weight: 400;
}
.elem{
    width: 100%;
    position: relative;
}
.elem img{
    width: 100%;
    position: absolute;
    object-fit: cover;
    animation: an 5s linear infinite;
}
.elem img:nth-child(1){
 animation-delay: 1s;
}
.elem img:nth-child(2){
 animation-delay: 2s;
}
.elem img:nth-child(3){
 animation-delay: 3s;
}
.elem img:nth-child(4){
 animation-delay: 4s;
}
.elem img:nth-child(5){
 animation-delay: 5s;
}

@keyframes an {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    21%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.footer{
    width: 100%;
    height: 70vh;
    background-color: #161616;
    padding: 7vw 8vw 2vw 8vw;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 80px; */
}
.ftop{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}
.ftleft{
    width: 50%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.ftleft button{
    padding: 10px 25px;
    border-radius: 50px;
    border: 1px solid #fff;
    font-size: 22px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    z-index: 1;
    margin-bottom: 30px;
}
.ftleft button::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    border-radius: 100px;
}
.ftleft button:hover{
    color: #000;
}
.ftleft button:hover::before{
    transform: translateY(0%);
}
.ftleft span{
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 500;
    display: inline-block;
    margin-right: 5px;
}
.ftleft1{
    width: 50%;
}
.ftleft1 h3{
    font-weight: 400;
    line-height: 1.5;
}
.ftleft2{
    width: 45%;
}
.ftleft2 h3{
    font-weight: 400;
    line-height: 1.5;
}
.ftright{
    width: 25%;
    gap: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.ftright h3{
    font-size: 1.5vw;
    font-weight: 300;
    position: relative;
    /* overflow: hidden; */
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
}
.ftright h3 #line1{
    background-color: #fff;
}
.ftright h3 #line2{
    background-color: #fff;
}
.ftright h3:hover #line2{
    width: 0%;
}
.ftright h3:hover #line1{
    width: 100%;
}
.ftright1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}
.ftright2{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;
}
.fbottom{
    width: 100%;
    height: 20%;
    display: flex;
    padding: 10px 0;
}
.fbleft{
    width: 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fbleft h3{
    font-size: 1vw;
    font-weight: 400;
}
.fbleft h3:nth-child(2){
    opacity: 0.5;
}
.fbright{
    width: 82%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
.fbright h3{
    padding: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E2E2E;
    cursor: pointer;
}
.fbright h3:hover i{
    color: #fff; 
    opacity: 0.8;
}
.fbright i{
    display: inline-block;
    font-weight: 100;
    font-size: 1.8vw;
    color: #000;
    transition: all 0.4s ease;
}
